.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.camera{
  display: flex;
  position: fixed;
  width: 230px;
  height: 230px;
  background-image: url("/public/images/userIcon.png");
  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: grabbing;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 20;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
  user-select:none;
}

.selection-page{
  padding: 26vh 25vw;
  /* max-width: 400px; */
}
.selection-mode{
  padding: 20px;
  max-width: 500px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vh 0vw;
}
.logos-container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px 90px;
  flex-wrap: wrap;
}
.icon-container{
  opacity: 0.5;
}

.dim-icon{
  opacity: 1;
  font-weight: bold;
  color: #9b4dca;

}